<section class="gallery">
  <h2>Заголовок</h2>
  <div class="gallery__list gallery__item">
    <div class="gallery__list-one gallery__item">
      <img
        srcset="
          ./images/gallery-images/seven2x-44.jpg   320w,
          ./images/gallery-images/seven2x-105.jpg  768w,
          ./images/gallery-images/seven2x-138.jpg 1200w
        "
        class="gallery__img"
        src="./images/gallery-images/seven2x-44.jpg"
        alt="ice cream"
        sizes=" 100vw"
      />
    </div>
    <div class="gallery__list-second margin-first">
      <img
        srcset="
          ./images/gallery-images/two2x-44.jpg   320w,
          ./images/gallery-images/two2x-105.jpg  768w,
          ./images/gallery-images/two2x-138.jpg 1200w
        "
        class="gallery__img"
        src="./images/gallery-images/two2x-44.jpg"
        alt="ice cream"
        sizes=" 100vw"
      />

      <img
        srcset="
          ./images/gallery-images/three2x-44.jpg   320w,
          ./images/gallery-images/three2x-105.jpg  768w,
          ./images/gallery-images/three2x-138.jpg 1200w
        "
        class="gallery__img"
        src="./images/gallery-images/three2x-44.jpg"
        alt="ice cream"
        sizes=" 100vw"
      />
    </div>
    <div>
      <div class="gallery__list-third margin-first">
        <img
          srcset="
            ./images/gallery-images/four2x-90.jpg   320w,
            ./images/gallery-images/four2x-215.jpg  768w,
            ./images/gallery-images/four2x-283.jpg 1200w
          "
          class="gallery__img"
          src="./images/gallery-images/four2x-90.jpg"
          alt="ice cream"
          sizes=" 100vw"
        />
      </div>
      <div class="gallery__list-third-second">
        <img
          srcset="
            ./images/gallery-images/five2x-44.jpg   320w,
            ./images/gallery-images/five2x-105.jpg  768w,
            ./images/gallery-images/five2x-138.jpg 1200w
          "
          class="gallery__img"
          src="./images/gallery-images/five2x-44.jpg"
          alt="ice cream"
          sizes="54vw"
        />
      </div>
    </div>
    <div class="gallery__list-fourth margin-first">
      <img
        srcset="
          ./images/gallery-images/six2x-44.jpg   320w,
          ./images/gallery-images/six2x-105.jpg  768w,
          ./images/gallery-images/six2x-138.jpg 1200w
        "
        class="gallery__img"
        src="./images/gallery-images/six2x-44.jpg"
        alt="ice cream"
        sizes=" 100vw"
      />

      <img
        srcset="
          ./images/gallery-images/seven2x-44.jpg   320w,
          ./images/gallery-images/seven2x-105.jpg  768w,
          ./images/gallery-images/seven2x-138.jpg 1200w
        "
        class="gallery__img"
        src="./images/gallery-images/seven2x-44.jpg"
        alt="ice cream"
        sizes=" 100vw"
      />
    </div>
    <div class="gallery__list-fifth margin-first">
      <img
        srcset="
          ./images/gallery-images/eight2x-44.jpg   320w,
          ./images/gallery-images/eight2x-105.jpg  768w,
          ./images/gallery-images/eight2x-138.jpg 1200w
        "
        class="gallery__img"
        src="./images/gallery-images/eight2x-44.jpg"
        alt="ice cream"
        sizes=" 100vw"
      />

      <img
        srcset="
          ./images/gallery-images/nine2x-44.jpg   320w,
          ./images/gallery-images/nine2x-105.jpg  768w,
          ./images/gallery-images/nine2x-138.jpg 1200w
        "
        class="gallery__img"
        src="./images/gallery-images/nine2x-44.jpg"
        alt="ice cream"
        sizes=" 100vw"
      />
    </div>
    <div class="gallery__list-sixth">
      <img
        srcset="
          ./images/gallery-images/ten2x-44.jpg   320w,
          ./images/gallery-images/ten2x-105.jpg  768w,
          ./images/gallery-images/ten2x-138.jpg 1200w
        "
        class="gallery__img"
        src="./images/gallery-images/ten2x-44.jpg"
        alt="ice cream"
        sizes=" 100vw"
      />
    </div>
  </div>
</section>
