<!-- Шапка -->
<button class="button hero__button" type="button" style="width: 200px; height:50px;" data-modal-open>
    Buy Now
    
</button>
<!-- Modal window Buy now -->



<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, repudiandae deleniti beatae in, pariatur aliquam at nulla mollitia sapiente, eaque sed! Blanditiis quos quasi sequi. Velit asperiores cupiditate ad quis?</p>
<div class="backdrop" data-modal>
    <div class="modal">
        <button class="modal__close-button" type="button" data-modal-close>
            <svg class="modal__icon-close">
                <use href="./images/symbol-defs.svg#icon-icecream"></use>
                
            </svg>
        </button>
        <a href="./index.html" class="modal__logo">
            <svg class="modal__logo-icon" >
                <use href="./images/symbol-defs.svg#icon-modal-logo"></use>
            </svg>
        </a>
        
        <h1 class="modal__big-title">
            Pick your flavors 
        </h1>
        <p class="modal__header-text">
            5 for $65 add a 6th for only $10
        </p>
       <div class="modal__gallery">
        <ul class="modal__gallery-inner">
            <li class="modal__gallery-list">

            </li>
        </ul>
       </div>
    </div>
</div>

