<div class="backdrop-map is-hidden"></div>            
    <div class="map is-hidden">
        <div class="map__top-line">
            <h3 class="map__title">Location</h3>
            <button class="map__btn" type="button">
                <svg class="map__icon">
                    <use href="./images/button-arrow-two.svg#icon-cross"></use>
                </svg>
            </button>
        </div>        
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9311503.861580573!2d-103.42219948876634!3d38.47768769677932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2sua!4v1660389546085!5m2!1sen!2sua" 
            width="100%" 
            height="400" 
            style="border-radius: 6; border: 0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
            </iframe>        
    </div>
</div>
