<!-- Шапка -->
<button class="button hero__button" type="button" style="width: 200px; height:50px;" data-modal-open>
    Buy Now
    
</button>
<!-- Modal window Buy now -->



<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, repudiandae deleniti beatae in, pariatur aliquam at nulla mollitia sapiente, eaque sed! Blanditiis quos quasi sequi. Velit asperiores cupiditate ad quis?</p>
<div class="backdrop" data-modal>
    <div class="modal">
        <button class="modal__close-button" type="button" data-modal-close>
            <svg class="modal__icon-close">
                <use href="./images/symbol-defs.svg#icon-icecream"></use>
                
            </svg>
        </button>
        <a href="./index.html" class="modal__logo">
            <svg class="modal__logo-icon" >
                <use href="./images/symbol-defs.svg#icon-modal-logo"></use>
            </svg>
        </a>
        
        <h1 class="modal__big-title">
            Pick your flavors 
        </h1>
        <p class="modal__header-text">
            5 for $65 add a 6th for only $10
        </p>
        <div class="modal__gallery">
            <ul class="modal__gallery-inner">
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/bubblegum-pop-360x240-1x.webp 1x, ./images/modal-header/bubblegum-pop-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                            
                        <source
                            srcset="./images/modal-header/bubblegum-pop-1024x1024-1x.webp 1x"
                            media="(max-width: 767px)" type="image/webp">
                        
                        <img src="./images/modal-header/bubblegum-pop-1024x1024-1x.webp" alt="Bubblegum Pop" class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Bubblegum Pop</a>
                        <p class="modal__text">Bubblegum ice cream with hot pink sprinkles</p>
                        <button class="modal__gallery-button" type="button">$12.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/buckeye-360x240-1x.webp 1x, ./images/modal-header/buckeye-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        
                        <source 
                            srcset="./images/modal-header/buckeye-1024x1024-1x.webp 1x" 
                            media="(max-width: 767px)" type="image/webp">
                         <img src="./images/modal-header/buckeye-1024x1024-1x.webp" alt="Bubblegum Pop" class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">buckeye</a>
                        <p class="modal__text">Bubblegum ice cream with hot pink sprinkles</p>
                        <button class="modal__gallery-button" type="button">$10.99</button>
                    </div>
                </li>
                <li class="modal__gallery-list">
                    <picture class="modal__gallery-img">
                        <source
                            srcset="./images/modal-header/smoky-bourbon-360x240-1.webp 1x, ./images/modal-header/smoky-bourbon-360x240-2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                
                        <source srcset="./images/modal-header/smoky-bourbon-1024x1024-1x.webp 1x" media="(max-width: 767px)"
                            type="image/webp">
                        <img src="./images/modal-header/smoky-bourbon-1024x1024-1x.webp" alt="smoky-bourbon" class="modal__gallery-img" />
                    </picture>
                    <div class="modal__gallery-box">
                        <a href="#" class="modal__item-name">Smoky Vanilla Bourbon Twist</a>
                        <p class="modal__text">Vanilla bourbon ice cream with smoky caramel and chopped almond</p>
                        <button class="modal__gallery-button" type="button">$14.99</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

