+<section class="products">
    <div class="products__label">100% natural</div>
    <h1 class="products__title">products</h1>
    <ul class="card">
        <li class="card__element">

            <box class="box-pink ">
                <h2 class="card__title">ice cream</h2>
                <svg class="card__dots" width="26px" height="6px">
                    <use href="/src/images/symbol-defs.svg#icon-product-dots"></use>
                </svg>
                <p class="card__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et</p>
                <button hidden id="mybutton" type="button"></button>
                <label for="mybutton">
                    <svg class="card__pointer" width="40px" height="40px">
                        <use href="/src/images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </label>

            </box>
        </li>

        <li class="card__element">

            <box class="box-yellow ">
                <h2 class="card__title">ice coffee</h2>
                <svg class="card__dots" width="26px" height="6px">
                    <use href="/src/images/symbol-defs.svg#icon-product-dots"></use>
                </svg>
                <p class="card__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt
                    ut labore et</p>
                <button hidden id="mybutton" type="button"></button>
                <label for="mybutton">
                    <svg class="card__pointer" width="40px" height="40px">
                        <use href="/src/images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </label>

            </box>
        </li>

        <li class="card__element">

            <box class="box-green ">
                <h2 class="card__title">milkshakes</h2>
                <svg class="card__dots" width="26px" height="6px">
                    <use href="/src/images/symbol-defs.svg#icon-product-dots"></use>
                </svg>
                <p class="card__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt
                    ut labore et</p>
                <button hidden id="mybutton" type="button"></button>
                <label for="mybutton">
                    <svg class="card__pointer" width="40px" height="40px">
                        <use href="/src/images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </label>

            </box>
        </li>
    </ul>